.portfolio-box { 
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 10px solid transparent;
    float: left;
}
.foot {
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: #666666;
    position: fixed;
}
.foot-text {
    font-size: 8px;
    margin-top: -6px;
    text-align: center;
    color: white;
}
.content {
    width: 960px;
    height: auto;
    margin: 0 auto;
    top: 20%;
    background-color: #ffffff;
    position: relative;
    content: "";
    display: block;
    clear: both;
}
.content-text {
    margin-left: 30px;
    margin-right: 30px;
}
.content-img {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
}
.content-head-text {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    top: 30px;
    color: #4aaaa5;
}

.hr-line { 
    width: 90%;
    background-color: #666666;
    height: 5px;
}

.nav-bar { 
    height: 50px;
}

.nav-bar-logo-text {
    position: relative;
    left: 40px;
    float: left;
    line-height: 50px;
    width: 20%;
    color: white;
    background-color: #4aaaa5;
    text-align: center;

}

.nav-bar-link {
    right: 120px;
    line-height: 50px;
    position: relative;
    float: right;
}
.nav-bar-a {
    padding: 10px;
    text-decoration: none;
}