body {
    background-image: url(../images/leaves-pattern.png);
    background-repeat: repeat;
}
header { 
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}
section {
    position: relative;
    top: 100px;
    /* This will create the 960px total width */
    width: 480px;
    margin: 0 auto;
    background-color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #666666;
    text-align: center;
    color: white;   
}

.homero {
    margin: 5%;


}