
.marge {
    left: 40px;
    position: relative;
    float: left;
}
.marge-head-text {
    height: 100%;
    line-height: 35px;
    width: 20%;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    margin: 0 auto;
}
.maggy {
    right: 40px;
    position: relative;
    float: right;
}

/* here starts the clean styling */
.portfolio-box { 
    height: 100px;
    width: 100px;
    margin-left: 5px;
    margin-bottom: 5px;
    border: 10px solid transparent;
    float: left;
}
.foot {
    bottom: 0;
    height: 35px;
    width: 100%;
    background-color: #666666;
    position: fixed;
}
.foot-text {
    font-size: 8px;
    margin-top: -6px;
    text-align: center;
    color: white;
}
.content {
    width: 960px;
    height: 500px;
    margin: 0 auto;
    top: 20%;
    background-color: #ffffff;
    position: relative;
    content: "";
    display: block;
    clear: both;
}
.content-text {
    text-align: initial;
    position: absolute;
    margin: 10px;
    float: left;
    height: 20px;

}
.content-img {
    text-align: initial;
    position: absolute;
    margin: 10px;
    float: left;
    height: 20px;

}

